@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Josefin+Sans:ital@0;1&display=swap');

html, body {
    width: 100%;
    height: 100vh;
    background: rgb(144,155,166);
    background: radial-gradient(circle, rgba(144,155,166,1) 11%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 3rem;
    width: 400px;
    height: 450px;
    color: white;
    font-family: "EB Garamond", serif;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.2rem;
    gap: 1rem;
    color: white !important;
}

input::placeholder {
    color: white;
}

button {
    background-color: #a2a2aa;
    border-radius: 10px;
    padding: 1rem 5rem;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10%;
    border: none;
}

.footer-login {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.descricao {
    background-color: white;
    opacity: 30%;
    font-size: 20px;
    margin-bottom: 1rem;
    color: #a2a2aa;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    border-bottom: 1px solid transparent;
    border-radius: 3rem;
    height: 15%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.input-sem-borda {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "EB Garamond", serif;
    font-size: 16px;
    color: white;
}

.lembrar-senha {
    margin-right: auto;
}

.linha-login {

    width: 50%;
}